/mods/.index
/data
/.sl_password
/crash-reports
/logs
/local
/xaero
/server-resource-packs
/screenshots
/schematics
/saves
/options.txt
/fabricloader.log
/.sl_password
/usercache.json
/usernamecache.json
/rhino.local.properties
/patchouli_data.json
/mods
/.qmenu_opened.marker
/tacz_backup
/XaeroWaypoints*